In [12]:
import pandas as pd

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from utils import *

# df = pd.read_csv("AI Safety Perceptions Survey_August 20, 2024_12.01.csv")
df = pd.read_csv("latest.csv")

In [14]:
df.head(1)

,StartDate,reading,Duration,Progress,Finished,Q42,Q43,Q1,Q1_7_TEXT,Q2,...,Q16_3,Q16_4,Q16_5,Q16_6,Q16_7,Q16_8,Q16_9,Q17,Q18,Q46
0,2024-08-08 23:30:29,7,118,100,True,Agree,LinkedIn DM,Industry engineer or researcher in AI/ML/relat...,NaN,2.0,...,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,NaN,NaN,NaN

In [11]:
df['reading'].value_counts()

7     27
13    24
0     24
9     16
11    15
Name: reading, dtype: int64

In [15]:
df['Q1'].value_counts()

Academic researcher in AI/ML/related field (e.g. PhD student, postdoc, professor)                     57
Industry engineer or researcher in AI/ML/related field                                                14
AI safety researcher or professional                                                                   8
Computer science professional or student not focused on ML/AI (e.g. Software Engineer, CS student)     4
4                                                                                                      3
Name: Q1, dtype: int64